button {
  appearance: unset;
  border: none;
  outline: none;
  padding: .8125rem 1.25rem;
  border-radius: .5rem;
  background-color: var(--brand-dark);
  justify-self: flex-end;
  display: flex;
  gap: .75rem;
  align-items: center;

  span {
    color: var(--text-heading);
    font: var(--text-md);
  }

  &:hover {
    background-color: var(--brand-mid);
  }
}