input[type=text], input[type=datetime-local], textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: .8125rem 1rem;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  background-color: var(--input-base);
  color: var(--text-heading);
  font: var(--text-md);

  &:focus {
    border-color: var(--brand-light);
  }

  &:invalid {
    border-color: var(--danger);
  }
}

.input-file-wrapper {
  display: flex;
  align-items: center;
  gap: .75rem;

  label {
    padding: .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--shape-button);
    border-radius: .5rem;
    color: var(--text-heading);
  }

  &:hover label {
    background-color: var(--shape-hover);
  }

  input {
    width: 100%;
    font: var(--text-md);
    color: var(--input-placeholder);

    &::file-selector-button {
      display: none;
    }

    &:valid {
      color: var(--text-heading);
    }
  }
}

.error-wrapper {
  display: none;
  margin-top: .5rem;
  
  span {
    color: var(--danger);
  }
}