button {
  all: unset;
  width: 100%;
  padding-block: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;

  text-align: center;
  background-color: var(--background-tertiary);
  cursor: pointer;

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--background-secondary);
  }

  span {
    font-weight: var(--fw-bd);
    text-transform: uppercase;
    color: var(--content-primary);

    &::after {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
    }

    &.raffle::after {
      background-image: url(../assets/icons/arrow-right.svg);
    }

    &.again::after {
      background-image: url(../assets/icons/redo.svg);
    }
  }
}

.border-gradient {
  &::after,
  &::before {
    content: '';
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 1.5px;
    border-radius: 0.5rem;
    position: absolute;
    z-index: -1;
    top: -1.5px;
  }

  &::before {
    filter: blur(1.5rem);
    opacity: 0.4;
  }

  &:hover::after,
  &:hover::before {
    animation: rotate 4s linear infinite;
    background-image: conic-gradient(from var(--angle), var(--gradient-border));
  }
}
