@import url(global.css);
@import url(utility.css);
@import url(layout.css);
@import url(components.css);
@import url(title.css);
@import url(lottery.css);
@import url(result.css);
@import url(info.css);
