#app {
  display: grid;
  grid-template-areas:
    'title'
    'lottery'
    'info';

  #title {
    margin-bottom: 2.625rem;
    grid-area: title;
  }

  #lottery {
    margin-bottom: 5rem;
    grid-area: lottery;
  }
}

@media (width >= 80rem) {
  #app {
    grid-template-areas:
      'title lottery'
      'info lottery';
    column-gap: 6.75rem;
    align-items: center;

    #title {
      margin-left: 7.5rem;
      margin-bottom: 0;
      width: fit-content;
    }

    #lottery {
      margin-right: 7.5rem;
      margin-bottom: 0;
      width: fit-content;
    }
  }
}
