#app {
  display: grid;
  grid-template-areas:
    'title'
    'content'
    'info';

  #title {
    margin-bottom: 2.625rem;
    grid-area: title;
  }

  #lottery,
  #result {
    margin-bottom: 5rem;
  }

  #info {
    margin-bottom: 5rem;
  }

  .content {
    grid-area: content;
  }
}

@media (width >= 80rem) {
  #app {
    margin-bottom: 5.5rem;
    grid-template-areas:
      'title content'
      'info content';
    column-gap: 6.75rem;
    row-gap: 2.375rem;
    align-items: center;

    #title {
      width: fit-content;
      margin-left: 7.5rem;
      margin-bottom: 0;
    }

    #lottery,
    #result {
      margin-right: 7.5rem;
      margin-bottom: 0;
    }

    #result {
      padding-right: 7.5rem;
      width: 100%;
    }

    #info {
      max-width: 24rem;
      margin-left: 7.5rem;
      margin-bottom: 0;
    }
  }
}
