#lottery {
  gap: 2.5rem;

  & > div:nth-child(1) {
    h2 {
      font: var(--fw-bd) var(--fs-lg) / 1.5 var(--ff-body);
      text-transform: uppercase;
      color: var(--content-primary);
    }

    p {
      font-size: var(--fs-sm);
    }
  }

  & > div:nth-child(2) {
    & > div:nth-child(1) {
      & > div {
        flex: 0 0 5.375rem;

        &:has(div > input:focus) {
          span {
            color: var(--content-brand);
          }

          input {
            background-color: var(--background-tertiary);
          }

          & > div::after,
          & > div::before {
            padding: 2px;
            top: -2px;
            left: -2px;

            animation: rotate 4s linear infinite;
            background-image: conic-gradient(
              from var(--angle),
              var(--gradient-border)
            );
          }
        }

        &:has(div > input:hover) {
          span {
            color: var(--content-brand);
          }

          input {
            background-color: var(--background-tertiary);
          }
        }

        span {
          font-weight: var(--fw-bd);
          text-align: center;
          text-transform: uppercase;
        }

        & > div {
          position: relative;

          input[type='number'] {
            all: unset;
            min-width: 0;
            padding: 0.5rem;
            border-radius: 0.5rem;
            position: relative;

            font: var(--fw-bd) var(--display-sm) / 1.3 var(--ff-display);
            text-align: center;
            color: var(--content-primary);
            background-color: var(--background-secondary);

            transition: background-color 0.2s;
          }

          input[type='number']::-webkit-outer-spin-button,
          input[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &::before,
          &::after {
            left: -1.5px;
          }
        }
      }
    }

    & > div:nth-child(2) {
      input {
        all: unset;
        width: 1.875rem;
        height: 1.25rem;
        border-radius: 5rem;
        position: relative;

        background-color: var(--content-tertiary);

        &::after {
          content: '';
          width: 0.875rem;
          height: 0.875rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);

          background-color: var(--content-primary);

          transition: left 0.5s;
        }

        &:checked {
          background-color: transparent;
          background-image: linear-gradient(90deg, var(--gradient-background));

          &::after {
            left: 45%;
          }
        }
      }
    }
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@media (width >= 80rem) {
  #lottery {
    & > div:nth-child(2) {
      justify-content: start;
    }
  }
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}
