.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.justify-center {
  justify-content: center;
}

.gap-0\.25 {
  gap: 0.25rem;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-0\.75 {
  gap: 0.75rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.25 {
  gap: 1.25rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-1\.75 {
  gap: 1.75rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-2\.25 {
  gap: 2.25rem;
}
