#banner {
  width: 100vw;
  padding-block: 2.5rem;
  overflow: hidden;

  .bg-gradient-animate {
    background-image: linear-gradient(
      45deg,
      var(--snitap-sky-light),
      var(--snitap-joy-light)
    );
    background-size: 400%;
    background-position: 0 50%;

    animation: bg-gradient 20s ease infinite;
  }

  .scroller {
    width: 100%;
    padding-block: 1rem;
    overflow: hidden;

    .rolling {
      display: flex;
      gap: 1.5rem;

      animation: rolling 2s linear infinite;
    }
  }
}

@keyframes rolling {
  100% {
    transform: translateX(-131px);
  }
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

@media (width < 65rem) {
  #banner {
    padding-block: 1.5rem;
  }
}
