#gallery {
  width: 100%;
  padding: 2.5rem 2rem;

  header {
    text-align: center;

    span {
      font: var(--fw-md) var(--fs-sm) / 1.5 var(--ff-body);
    }
  }

  .content {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
      'A B B'
      'C C D';
    gap: 2.5rem;

    figure {
      height: 25rem;
      border-radius: 2.5rem;
      position: relative;
      overflow: hidden;

      animation: image-appear linear backwards;
      animation-timeline: view();
      animation-range: 100px 300px;

      &[data-delay] {
        animation-range: 150px 350px;
      }

      & > img {
        height: 100%;
        object-fit: cover;

        transition: scale 0.5s;
      }

      &:hover {
        & > img {
          scale: 1.1;
        }

        figcaption {
          transform: translateY(0);
        }
      }

      figcaption {
        width: 100%;
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        bottom: 0;

        font-size: var(--fs-sm);
        color: #fff;
        background: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.64));

        transform: translateY(100%);
        transition: transform 0.5s;

        img {
          width: 2rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &:nth-child(1) {
        grid-area: A;
      }

      &:nth-child(2) {
        grid-area: B;
      }

      &:nth-child(3) {
        grid-area: C;
      }

      &:nth-child(4) {
        grid-area: D;
      }
    }
  }
}

@keyframes image-appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
}
