*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --snitap-sun: #ffcd1e;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67e8f9;
  --snitap-joy-mid: #db2777;
  --snitap-joy-light: #f472b6;
  --snitap-leaf-mid: #16a34a;
  --text: #000000;
  --highlights: #000000;
  --background: #fafafa;

  --ff-title: 'Syne', sans-serif;
  --ff-body: 'Montserrat', sans-serif;
  --ff-notification: 'Inter', sans-serif;
  --fw-md: 500;
  --fw-bd: 700;
  --fs-rg: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2.5rem;
  --fs-xxl: 4rem;

  --title-animation-div-height: 5rem;
  --bounce-up-high: 15px;
  --bounce-down-high: 10px;
  --bounce-low: 5px;
}

body {
  font: var(--fw-md) var(--fs-rg) / 1.5 var(--ff-body);
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bd);
}

h1 {
  font-size: var(--fs-xxl);
  line-height: 1.25;
}

h2 {
  font-size: var(--fs-xl);
  line-height: 1.2;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (width < 65rem) {
  :root {
    --fs-xxl: 2rem;
    --fs-xl: 1.5rem;
  }
}
