header {
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 2rem;
    height: 2rem;

    transition: transform 0.5s;

    &[src*='logo']:hover {
      transform: rotate(90deg);
    }

    &[src*='shopping-bag']:hover {
      transform: rotate(-30deg);
    }
  }

  a:nth-child(2) {
    position: relative;

    span {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;

      font: var(--fw-md) var(--fs-xs) / 1.3 var(--ff-notification);
      background-color: var(--snitap-sun);
    }
  }
}
