* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
  --danger: #FF5959;
  --pink: #FF598B;
  /* --: ; */

  --font-family-heading: "Baloo 2", sans-serif;
  --font-family-text: "Open Sans", sans-serif;
  --logo: 400 2.5rem "Leckerli One", cursive;
  --title-md: 700 1.75rem var(--font-family-heading);
  --title-sm: 700 1.125rem var(--font-family-heading);
  --text-md: 400 1rem var(--font-family-text);
  --text-sm: 400 .875rem var(--font-family-text);
  --text-xs: 400 .75rem var(--font-family-text);
}

body {
  color: var(--text-body);
  font: var(--text-sm);
  overflow: hidden;
  background-color: var(--shape-background);
}