#app {
  height: 100vh;
  max-width: 80rem;
  margin-inline: auto;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: .3275fr .6725fr;
  gap: 1.25rem;
}

aside {
  padding: 1.75rem;
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .75rem;
  
  img {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  
  span {
    display: block;
    margin-block: 1rem .25rem;
    color: var(--pink);
    font: var(--logo);
  }
  
  h2 {
    font: var(--title-sm);
    font-weight: 300;
  }
}

main {
  border-radius: .75rem;
  padding: 5rem 7.8125rem;
  background-color: var(--shape-body);
  overflow: auto;
  scrollbar-color: var(--shape-background) var(--shape-body);
  scrollbar-width: thin;

  h1 {
    color: var(--text-heading);
    font: var(--title-md);
    margin-bottom: 2.5rem;
  }
}