*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --ff: 'Inter', sans-serif;
  --fs-lg: 1.5rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;
  --fw-bd: 700;
  --fw-sb: 600;
  --fw-md: 500;
}

body {
  font: var(--fw-md) var(--fs-md) / 20px var(--ff);
  background-color: var(--background-primary);
  color: var(--content-secondary);
}

.container {
  padding-inline: 2rem;
}

@media (width >= 80rem) {
  .container {
    max-width: 39.25rem;
    margin-inline: auto;
  }
}
