#new-item {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    all: unset;
    padding: 0.75rem 1rem;
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;

    background-color: var(--background-secondary);

    transition: border-color 0.5s;

    &:hover {
      border-color: var(--border-hover);
    }

    &:focus {
      border-color: var(--color-brand);
    }
  }

  button {
    all: unset;
    padding-block: 0.75rem;
    border-radius: 0.75rem;

    font-weight: var(--fw-sb);
    text-align: center;
    color: var(--always-white);
    background-color: var(--color-brand);
  }
}

@media (width >= 80rem) {
  #new-item {
    flex-direction: row;

    input {
      flex: 2.5 0;
    }

    button {
      flex: 1 0;
    }
  }
}
