#removed-successfully {
  margin-bottom: 3rem;

  .item-removed {
    padding: 0.75rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--color-danger);

    transition: opacity 0.5s;

    span {
      flex: 1 1;

      font: var(--fw-sb) var(--fs-md) / 20px var(--ff);
      color: var(--always-white);
    }

    img[src*='delete'] {
      cursor: pointer;
    }
  }

  .hide {
    opacity: 0;
  }
}
