:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin: 0;
  margin-bottom: 4px;
}

ul, p {
  margin: 0;
}

ul {
  margin-top: 0.5rem;
  padding-left: 24px;
}

#about p + p {
  margin-top: 12px;
}

section + section {
  margin-top: 24px;
}

p + p {
  margin-top: 0.5rem;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #573824;
}

main {
  width: 800px;
  box-sizing: border-box;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}

#content {
  padding: 24px;
  box-sizing: border-box;
}

footer {
  text-align: center;
}

img {
  border-radius: 16px;
}