.terms-wrapper {
  display: flex;
  gap: 0.75rem;
  align-items: start;

  input[type='checkbox'] {
    all: unset;
    box-sizing: inherit;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--stroke-default);
    border-radius: 0.25rem;

    &:hover {
      border-color: var(--stroke-highlight);
    }

    &:checked {
      background: url(../../assets/icons/check.svg) var(--stroke-highlight)
        no-repeat center;
      border-color: var(--stroke-highlight);
    }
  }

  label {
    flex: 1;

    strong {
      font-weight: var(--fw-rg);
      color: var(--text-highlight);
    }
  }
}
