.input-wrapper {
  display: grid;
  gap: 0.25rem;
  width: 100%;

  input,
  select,
  textarea {
    box-sizing: inherit;
    all: unset;
    width: auto;
    padding: 0.75rem 1rem;
    border: 1px solid var(--stroke-default);
    border-radius: 0.5rem;
    outline: 2px solid transparent;

    transition: border-color 0.3s, outline-color 0.3s;

    &:focus {
      border-color: var(--stroke-highlight);
      outline-color: var(--surface-secondary);
    }
  }

  textarea {
    resize: vertical;
  }

  input[type='date'],
  select {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }

    &::after {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.875rem;
      pointer-events: none;

      background: url(../../assets/icons/calendar.svg);
    }
  }

  select {
    background: url(../../assets/icons/arrow-down.svg) no-repeat
      calc(100% - 0.75rem);
  }
}
