form {
  display: grid;
  gap: 3rem;

  fieldset {
    display: grid;
    gap: 1.25rem;
    border: none;

    legend {
      margin-bottom: 1.25rem;

      font-weight: var(--fw-sb);
      color: var(--text-primary);
    }

    &[name='address'] {
      & > div:not(.input-wrapper) {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
      }
    }
  }
}

@media (width >= 80rem) {
  form fieldset[name='address'] {
    & > div:not(.input-wrapper) {
      flex-direction: row;

      div:nth-child(1) {
        flex: 2.25;
      }

      div:nth-child(2) {
        flex: 1;
      }
    }
  }
}
