section header {
  & > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

#hero {
  display: grid;
  justify-items: center;
  gap: 0.75rem;

  background-color: var(--surface-secondary);

  img:nth-child(2) {
    width: 100%;
  }
}

#info {
  display: grid;
  gap: 1.5rem;

  h1 {
    margin-bottom: 0.5rem;

    font: var(--fw-sb) var(--fs-xg) / 1.2 var(--ff);
    color: var(--text-primary);
  }

  p {
    line-height: 1.5;
  }
}
