.letter {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font: var(--fw-bd) var(--fs-xl) / 100% var(--ff);
  text-transform: uppercase;
  color: var(--stroke);

  background-color: var(--card-bg-color);
}

.letter-small {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.375rem;

  font: var(--fw-md) var(--fs-lg) / 100% var(--ff);
  border: 1px solid var(--stroke);
}
