@import 'tailwindcss';

@theme {
  --default-font-family: 'Lato', sans-serif;

  --color-blue-light: #8996eb;
  --color-blue-base: #5165e1;
  --color-blue-dark: #2e3da3;

  --color-gray-100: #151619;
  --color-gray-200: #1e2024;
  --color-gray-300: #535964;
  --color-gray-400: #858b99;
  --color-gray-500: #e3e5e8;
  --color-gray-600: #f9fafa;

  --color-feedback-danger: #d03e3e;
  --color-feedback-open: #cc3d6a;
  --color-feedback-progress: #355ec5;
  --color-feedback-done: #508b26;

  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-heading-md: 1rem;
  --text-xxs: 0.625rem;
}

#user-menu {
  position: absolute;
  position-anchor: user-menu;
  position-area: bottom left;
  right: anchor(right);
}

#screen-menu {
  position: absolute;
  position-anchor: screen-menu;
  position-area: bottom right;
  left: anchor(left);
}

@media (width >= 1024px) {
  #user-menu {
    position-area: top right;
    right: unset;
  }

  #screen-menu {
    position: initial;
  }
}
