/* Configurando espaços */
* {
  margin: 0;
  padding: 0;
}

header, main, footer {
  margin: 0 6%;
}

header, footer {
  margin: 40px 5%;
}

h1, h2 {
  margin: 8px 0;
}

h3 {
  margin: 4px 0;
}

hr {
  margin: 40px 0;
  border-color: hsla(98, 8%, 73%, 0.229);
}

header img, main img {
  border-radius: 20px;
  width: 100%;
}

header img {
  margin: 40px 0 24px 0;
}  

main img {
  margin: 48px 0 24px 0;
}  

#sctFirstPlace img {
  margin-top: 63px;
}

li {
  margin-left: 30px;
}

/* Configurando texto */

:root {
  font-family: "Open Sans", sans-serif;;
  color: #1B1B1B;
}

body {
  background-color: F5F4F0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

p, span {
  font-size: 16px;
  color: #333333;
}

span {
  font-weight: bold;
}

.spanSubtitle {
  color: #E1624F;
  text-transform: uppercase;
}

#imgSubtitle {
  text-align: center;
  font-style: italic;
}

#spanHistory {
  color: #0C51A7;
}

#spanCouple {
  color: #591B98;
}

#spanFamilies {
  color: #E5245E;
}

#spanBudget {
  color: #E95E10;
}

ul li::marker {
  color: #333333;
}

hr + p {
  text-align: center;
}

footer {
  text-align: center;
}