#app > header {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (width >= 80rem) {
  body > header {
    padding: 3.5rem 10rem;
  }
}
