#pricing {
  padding-block: 6.5rem;
  position: relative;

  h2 {
    max-width: 18.5rem;
    margin-bottom: 3rem;
    margin-inline: auto;
    display: block;

    font: var(--fw-bd) var(--title-sm) var(--ff);
    text-align: center;
  }

  & > div:nth-child(2) {
    padding-inline: 3.25rem;
    display: flex;
    gap: 1rem;

    overflow: auto;
    scroll-snap-type: inline mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    & > div {
      flex: 0 0 17rem;
      scroll-snap-align: center;
    }
  }
}

@media (width >= 80rem) {
  #pricing {
    margin-bottom: 18.75rem;

    h2 {
      margin-bottom: 3.5rem;
    }

    & > div:nth-child(2) {
      padding-block: 5rem 6.75rem;
      position: relative;
      padding-inline: auto;
      justify-content: center;

      &:hover {
        & > div:nth-child(1) {
          right: calc(50% + 17rem / 2);
          top: 22%;
          rotate: -8deg;
        }

        & > div:nth-child(2) {
          background-color: var(--shape-hover);
        }

        & > div:nth-child(3) {
          left: calc(50% + 17rem / 2);
          top: 20%;
          rotate: 8deg;
        }

        &:has(div:hover:not(& > div:nth-child(2), & > div:nth-child(2) *)) {
          & > div:nth-child(2) {
            background-color: var(--shape-base);
          }
        }
      }

      & > div {
        flex: unset;
        position: absolute;

        transition: top 1.5s cubic-bezier(0, 0.2, 0.4, 1.2),
          right 1.5s cubic-bezier(0, 0.2, 0.4, 1.2),
          left 1.5s cubic-bezier(0, 0.2, 0.4, 1.2),
          rotate 1.5s cubic-bezier(0, 0.2, 0.4, 1.2), background-color 0.5s,
          scale 0.5s, z-index 0.2s;

        &:hover {
          scale: 1.05;
          background-color: var(--shape-hover);
          z-index: 2;
        }

        &:nth-child(1) {
          top: 5rem;
          right: calc(50% - 276px / 2);

          &::before {
            content: '';
            width: 2rem;
            height: 3.375rem;
            position: absolute;
            left: -15%;
            top: -5%;

            background-image: url(../../assets/pricing/stars-1.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &:nth-child(2) {
          position: relative;

          &::before {
            content: '';
            width: 2.875rem;
            height: 3.125rem;
            position: absolute;
            left: 12%;
            top: -12.1%;

            background-image: url(../../assets/pricing/bunny.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &:nth-child(3) {
          top: 5rem;
          left: calc(50% - 276px / 2);

          &::before {
            content: '';
            width: 3.625rem;
            height: 1.625rem;
            position: absolute;
            right: -15%;
            bottom: -7%;

            background-image: url(../../assets/pricing/stars-2.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      .popular {
        z-index: 1;
      }
    }
  }
}
