.content > header {
  flex-direction: column;

  & > div:nth-child(1) {
    h1 {
      margin-bottom: 0.25rem;
    }

    p {
      font: var(--fw-md) var(--fs-sm) / var(--lh-lg) var(--ff);
    }
  }

  & > div:nth-child(2) > div {
    width: fit-content;

    &::before {
      left: 7%;
    }
  }
}

@media (width >= 80rem) {
  .content > header {
    flex-direction: row;
    align-items: center;
  }
}
