.input-wrapper {
  display: grid;
  gap: 0.25rem;

  label {
    font-weight: var(--fw-sb);
    color: var(--content-primary);
  }

  & > div {
    display: grid;
    position: relative;

    &::before {
      content: '';
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4%;
    }

    &:has(input[type='date'])::before {
      background-image: url(../assets/icons/calendar.svg);
    }

    &:has(input#tutor-name)::before {
      background-image: url(../assets/icons/user.svg);
    }

    &:has(input#pet-name)::before {
      background-image: url(../assets/icons/paw.svg);
    }

    &:has(input#phone)::before {
      background-image: url(../assets/icons/phone.svg);
    }

    &:has(select#hour)::before {
      background-image: url(../assets/icons/clock.svg);
    }
  }
}

.appointment {
  flex-direction: column;
}

input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding-block: 0.75rem;
  padding-left: 2.5rem;

  border: 1.5px solid var(--border-primary);
  border-radius: 0.5rem;
  position: relative;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 4%;

    opacity: 0;
  }
}

input[type='date'],
select {
  padding-right: 1rem;

  background-image: url(../assets/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

textarea {
  padding: 0.75rem;
}

button {
  all: unset;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;

  background-color: var(--brand-color);
  font: var(--fw-bd) var(--fs-md) / var(--lh-lg) 'Reddit Sans', sans-serif;
  color: #050505;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);
}

@media (width >= 80rem) {
  .input-wrapper > div::before {
    left: 3%;
  }
}
