dialog {
  width: 90%;
  height: 80%;
  margin-inline: auto;
  padding: 2.5rem 1.25rem;
  border: none;
  border-radius: 0.75rem;
  outline: none;
  top: 4.75rem;

  background-color: var(--background-tertiary);
  color: var(--content-secondary);
  font: var(--fw-md) var(--fs-sm) / var(--lh-lg) var(--ff);
  scrollbar-color: transparent transparent;

  &::backdrop {
    backdrop-filter: blur(5px);
  }

  #close-dialog {
    width: 2.25rem;
    height: 2.25rem;
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    background-image: url(../assets/icons/close.svg);
    background-size: cover;
  }

  button {
    width: fit-content;
    justify-self: end;
    box-shadow: none;
  }
}

@media (width >= 80rem) {
  dialog {
    width: fit-content;
    padding-inline: 2.5rem;

    scrollbar-width: thin;
    scrollbar-color: var(--background-primary) var(--background-tertiary);
  }
}
