dialog {
  /* padding: 5rem; */
  /* position: absolute; */
  /* top: 0; */
  width: 90%;
  margin-inline: auto;
  padding: 2.5rem 1.25rem;
  border: none;
  border-radius: 0.75rem;
  outline: none;
  top: 4.75rem;

  background-color: var(--background-tertiary);
  color: var(--content-secondary);
  font: var(--fw-md) var(--fs-sm) / var(--lh-lg) var(--ff);

  &::backdrop {
    backdrop-filter: blur(6px);
  }
}

@media (width >= 80rem) {
  dialog {
    width: fit-content;
  }
}
