.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.margin-right-auto {
  margin-right: auto;
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }
}
