main {
  margin-bottom: 2rem;
  gap: 2rem;

  .card {
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;

    img {
      width: 100%;
    }

    figcaption {
      z-index: 1;
      display: grid;
      gap: 0.5rem;
      align-self: end;
      font: var(--fw-xb) var(--fs-sm) / 140% var(--ff);
      color: var(--text-color-primary);

      span {
        width: fit-content;
        margin-left: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        background-color: var(--brand-color-dark);
        font: var(--fw-rg) var(--fs-xs) / 120% var(--ff);
        text-transform: uppercase;
        color: var(--text-color-primary);
      }

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
      }

      h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
      }

      &::after {
        content: '';
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--bg-color));
        opacity: 0.8;
      }
    }
  }

  header {
    margin-bottom: 1.5rem;
    padding-top: 0.75rem;
    border-top: 1px solid var(--stroke-color);
    display: flex;
    justify-content: space-between;

    font-weight: var(--fw-sb);

    & > div {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      cursor: pointer;

      span:nth-child(2) {
        width: 1rem;
        height: 1rem;

        background: url(../assets/icons/ArrowRight.svg);
      }

      &:hover {
        color: var(--brand-color-light);

        span:nth-child(2) {
          background: url(../assets//icons/ArrowRightHover.svg);
        }
      }
    }
  }

  #highlights {
    padding-top: 1rem;
    grid-template-columns: 100%;

    figure > figcaption > div {
      margin: 0rem 0.75rem 0.75rem;
    }

    figure:nth-child(1) {
      overflow: hidden;

      img {
        height: 26rem;
        object-fit: cover;
      }

      figcaption {
        font: var(--fw-xb) var(--fs-lg) / 135% var(--ff);
      }

      &::after {
        height: 50%;
        align-self: end;
      }
    }

    img {
      height: 12.5rem;
      object-fit: cover;
      /* width: auto; */
    }
  }

  #weekly-most-read {
    & > div {
      grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
      gap: 2rem;
    }

    .card {
      position: relative;

      span {
        position: absolute;
        top: 0.5rem;
      }

      p {
        font-size: var(--fs-md);
      }
    }
  }

  & > div {
    gap: 2rem;

    #AI-highlights {
      div {
        gap: 2rem;

        .card {
          display: flex;
          align-items: start;
          gap: 1rem;

          img {
            width: 5rem;
            object-fit: contain;
          }

          figcaption {
            gap: 0;

            span {
              margin: 0;
              margin-bottom: 0.5rem;
            }

            h3 {
              font: var(--fw-xb) var(--fs-md) / 140% var(--ff);
              margin-bottom: 0.25rem;
            }

            p {
              -webkit-line-clamp: 4;
              line-clamp: 4;

              color: var(--text-color-secondary);
              font-weight: var(--fw-rg);
            }
          }
        }
      }
    }
  }

  #rocketseat-ad {
    div {
      position: relative;

      img:nth-child(1) {
        width: 100%;
      }

      img:nth-child(2) {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }
    }
  }
}

@media (width >= 80em) {
  main {
    #highlights {
      padding-top: 2.5rem;
      grid-template-columns: none;
      grid-template-rows: none;
      grid-auto-rows: 12.5rem;
      grid-auto-columns: 1fr;
      grid-template-areas:
        'news-1 news-1 news-2 news-3'
        'news-1 news-1 news-4 news-5';

      img {
        height: 100%;
      }

      figure:nth-child(1) {
        overflow: visible;
        grid-area: news-1;

        img {
          transform: translateX(0);
          width: 100%;
        }
      }

      figure:nth-child(2) {
        grid-area: news-2;
      }

      figure:nth-child(3) {
        grid-area: news-3;
      }

      figure:nth-child(4) {
        grid-area: news-4;
      }

      figure:nth-child(5) {
        grid-area: news-5;
      }
    }

    #weekly-most-read {
      & > div {
        gap: 1rem;
      }
    }

    & > div {
      grid-template-columns: 1fr 0.71fr;

      #AI-highlights > div > .card {
        flex-direction: row-reverse;

        img {
          width: 11rem;
        }

        figcaption {
          align-self: center;
        }
      }
    }
  }
}
