#hero {
  .hero-bg-image {
    padding-bottom: 12rem;
    background-image: url(../assets/hero/hero-background.png);
    background-position: center;
    background-size: 280%;

    div:nth-child(2) {
      max-width: 41rem;
      margin-top: 3rem;
      margin-inline: 1.25rem;

      text-align: center;

      h1 {
        font: var(--fw-bd) var(--title-lg) var(--ff);
        color: var(--text-title);
      }

      p {
        margin-top: 2rem;

        font: var(--fw-rg) var(--fs-lg) / 1.4 var(--ff);
      }
    }
  }
}

@media (width >= 80rem) {
  #hero {
    .hero-bg-image {
      padding-bottom: 29.375rem;
      background-size: cover;
      background-position: center;

      div:nth-child(2) {
        margin-top: 10.25rem;
        margin-inline: auto;
      }
    }
  }
}

@media (width < 65rem) {
  :root {
    --title-lg: 1.75rem;
    --fs-lg: 0.875rem;
  }
}
