#hero {
  position: relative;
  overflow: hidden;

  .hero-bg-image {
    margin-bottom: 2rem;
    padding-top: 7.25rem;
    padding-bottom: 19rem;
    background-image: url(../assets/hero/hero-background.png);
    background-position: top;
    background-size: 280%;
    background-repeat: no-repeat;

    animation: appear 6.5s ease-in-out both;

    div {
      margin-inline: 1.25rem;

      text-align: center;

      h1 {
        font: var(--fw-bd) var(--title-lg) var(--ff);
        color: var(--text-title);
      }

      p {
        margin-top: 2rem;

        font: var(--fw-rg) var(--fs-lg) / 1.4 var(--ff);
      }
    }
  }

  & > div:nth-child(2) {
    padding: 1rem 1.25rem 5.125rem;
    position: relative;
    text-align: center;

    &:hover {
      img {
        scale: 1;

        &[src*='spellbook'] {
          transition-delay: 0s;
        }

        &[src*='planchette'] {
          transition-delay: 1s;
        }

        &[src*='ball'] {
          transition-delay: 2s;
        }
      }

      p {
        & > span {
          opacity: 1;

          strong {
            color: var(--blue-light);
            transition-delay: inherit;
          }
        }

        & > span:nth-child(1) {
          transition-delay: 0s;
        }

        & > span:nth-child(2) {
          transition-delay: 1s;
        }

        & > span:nth-child(3) {
          transition-delay: 2s;
        }
      }
    }

    img {
      position: absolute;
      width: 3rem;
      scale: 0;

      transition: rotate 1s ease-in-out, scale 1s ease-in-out;

      &:hover {
        animation: grow 1s ease-in-out forwards, spin 1s ease-in-out forwards;
      }

      &[src*='spellbook'] {
        top: -15%;
        right: 19%;
      }

      &[src*='planchette'] {
        width: 2.5rem;
        bottom: 21%;
        left: 5%;
        transform: rotate(-130deg);
      }

      &[src*='ball'] {
        bottom: 15%;
        right: 5.5%;
        transform: rotate(30deg);
      }
    }

    p {
      & > span {
        opacity: 0.5;

        transition: opacity 1s ease-in-out;
      }

      strong {
        font-weight: var(--fw-bd);
        color: var(--text-body);

        transition: color 1s ease-in-out;
      }
    }
  }
}

@media (width >= 80rem) {
  #hero {
    .hero-bg-image {
      margin-bottom: 6rem;
      padding-bottom: 29.375rem;
      background-size: cover;

      div:nth-child(1) {
        max-width: 41rem;
        margin-top: 10.25rem;
        margin-inline: auto;
      }
    }

    & > div:nth-child(2) {
      max-width: 75rem;
      margin-inline: auto;
      margin-bottom: 5rem;
      padding-block: 7.125rem 9.875rem;

      img[src*='spellbook'] {
        width: 5.5rem;
        top: 10%;
        right: 47.4%;
      }

      img[src*='planchette'] {
        width: 5rem;
        bottom: 21%;
        left: 4%;
        transform: rotate(0);
      }

      img[src*='ball'] {
        width: 4.5rem;
        bottom: 24%;
        right: 1.2%;
        transform: rotate(0);
      }

      p {
        font: var(--fw-rg) var(--title-sm) / 2 var(--ff);
      }
    }
  }
}

@media (width < 65rem) {
  :root {
    --title-lg: 1.75rem;
    --fs-lg: 0.875rem;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow {
  to {
    scale: 1.2;
  }
}

@keyframes spin {
  to {
    rotate: 15deg;
  }
}
